body {
    margin: 0;
    background-color: #A3A2A2 !important;
}

.users-container {
    width: 100%;
}

.user-panel {
    background-color: #1B1B1B;
    width: 50%;
    margin: 1% auto !important;
    text-align: center;
    border-radius: 3%;
}

.user-panel:hover {
    background-color: #B3B3B3;
    cursor: pointer;
}

.user-name {
    text-align: center;
    color: #575756;
}

.user-logo {
    max-height: 300px;
    max-width: 300px;
    display: block;
    border-radius: 3%;
    padding: 0 !important;
}

.online-text {
    color: #116611;
}

.offline-text {
    color: #A80014;
}

.nonexistent-text {
    color: #000000;
}
